<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


 	<import resource="classpath*:innerDataSource.xml" />

 	<import resource="classpath*:mybatis.xml" />

	
	
<!--	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--		<property name="defaultEncoding" value="GBK"/>-->
<!--		<property name="maxUploadSize" value="#{1024*1024}"/>-->
<!--	</bean>-->

</beans>
