<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achilles.wild.server.business.dao.info.CrmClientDao">
  <resultMap id="BaseResultMap" type="com.achilles.wild.server.entity.info.CrmClient">
    <id column="idd" jdbcType="BIGINT" property="idd" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="idCardNo" jdbcType="VARCHAR" property="idcardno" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="registerTime" jdbcType="VARCHAR" property="registertime" />
    <result column="bindTime" jdbcType="VARCHAR" property="bindtime" />
    <result column="nativePlace" jdbcType="VARCHAR" property="nativeplace" />
    <result column="isReal" jdbcType="VARCHAR" property="isreal" />
    <result column="attributesVersion" jdbcType="VARCHAR" property="attributesversion" />
    <result column="delFlag" jdbcType="VARCHAR" property="delflag" />
    <result column="isLive" jdbcType="VARCHAR" property="islive" />
    <result column="spendInCount" jdbcType="VARCHAR" property="spendincount" />
    <result column="channelCode" jdbcType="VARCHAR" property="channelcode" />
    <result column="fromMemberId" jdbcType="VARCHAR" property="frommemberid" />
    <result column="withdrawPwd" jdbcType="VARCHAR" property="withdrawpwd" />
    <result column="spendCount" jdbcType="VARCHAR" property="spendcount" />
    <result column="updateTime" jdbcType="VARCHAR" property="updatetime" />
    <result column="wuId" jdbcType="VARCHAR" property="wuid" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="isHf" jdbcType="VARCHAR" property="ishf" />
    <result column="attributes" jdbcType="VARCHAR" property="attributes" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    idd, uuid, invite_code, id, realName, mobile, idCardNo, birthday, age, sex, email, 
    registerTime, bindTime, nativePlace, isReal, attributesVersion, delFlag, isLive, 
    spendInCount, channelCode, fromMemberId, withdrawPwd, spendCount, updateTime, wuId, 
    createTime, isHf, attributes, flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_client
    where idd = #{idd,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crm_client
    where idd = #{idd,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.achilles.wild.server.entity.info.CrmClient">
    insert into crm_client (idd, uuid, invite_code, 
      id, realName, mobile, 
      idCardNo, birthday, age, 
      sex, email, registerTime, 
      bindTime, nativePlace, isReal, 
      attributesVersion, delFlag, isLive, 
      spendInCount, channelCode, fromMemberId, 
      withdrawPwd, spendCount, updateTime, 
      wuId, createTime, isHf, 
      attributes, flag, create_time, 
      update_time)
    values (#{idd,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR}, 
      #{id,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{idcardno,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{registertime,jdbcType=VARCHAR}, 
      #{bindtime,jdbcType=VARCHAR}, #{nativeplace,jdbcType=VARCHAR}, #{isreal,jdbcType=VARCHAR}, 
      #{attributesversion,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, #{islive,jdbcType=VARCHAR}, 
      #{spendincount,jdbcType=VARCHAR}, #{channelcode,jdbcType=VARCHAR}, #{frommemberid,jdbcType=VARCHAR}, 
      #{withdrawpwd,jdbcType=VARCHAR}, #{spendcount,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{wuid,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{ishf,jdbcType=VARCHAR}, 
      #{attributes,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.achilles.wild.server.entity.info.CrmClient">
    insert into crm_client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idd != null">
        idd,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="idcardno != null">
        idCardNo,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="registertime != null">
        registerTime,
      </if>
      <if test="bindtime != null">
        bindTime,
      </if>
      <if test="nativeplace != null">
        nativePlace,
      </if>
      <if test="isreal != null">
        isReal,
      </if>
      <if test="attributesversion != null">
        attributesVersion,
      </if>
      <if test="delflag != null">
        delFlag,
      </if>
      <if test="islive != null">
        isLive,
      </if>
      <if test="spendincount != null">
        spendInCount,
      </if>
      <if test="channelcode != null">
        channelCode,
      </if>
      <if test="frommemberid != null">
        fromMemberId,
      </if>
      <if test="withdrawpwd != null">
        withdrawPwd,
      </if>
      <if test="spendcount != null">
        spendCount,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="wuid != null">
        wuId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="ishf != null">
        isHf,
      </if>
      <if test="attributes != null">
        attributes,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idd != null">
        #{idd,jdbcType=BIGINT},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null">
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="bindtime != null">
        #{bindtime,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="isreal != null">
        #{isreal,jdbcType=VARCHAR},
      </if>
      <if test="attributesversion != null">
        #{attributesversion,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="islive != null">
        #{islive,jdbcType=VARCHAR},
      </if>
      <if test="spendincount != null">
        #{spendincount,jdbcType=VARCHAR},
      </if>
      <if test="channelcode != null">
        #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="frommemberid != null">
        #{frommemberid,jdbcType=VARCHAR},
      </if>
      <if test="withdrawpwd != null">
        #{withdrawpwd,jdbcType=VARCHAR},
      </if>
      <if test="spendcount != null">
        #{spendcount,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="wuid != null">
        #{wuid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="ishf != null">
        #{ishf,jdbcType=VARCHAR},
      </if>
      <if test="attributes != null">
        #{attributes,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.achilles.wild.server.entity.info.CrmClient">
    update crm_client
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null">
        idCardNo = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        registerTime = #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="bindtime != null">
        bindTime = #{bindtime,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        nativePlace = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="isreal != null">
        isReal = #{isreal,jdbcType=VARCHAR},
      </if>
      <if test="attributesversion != null">
        attributesVersion = #{attributesversion,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delFlag = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="islive != null">
        isLive = #{islive,jdbcType=VARCHAR},
      </if>
      <if test="spendincount != null">
        spendInCount = #{spendincount,jdbcType=VARCHAR},
      </if>
      <if test="channelcode != null">
        channelCode = #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="frommemberid != null">
        fromMemberId = #{frommemberid,jdbcType=VARCHAR},
      </if>
      <if test="withdrawpwd != null">
        withdrawPwd = #{withdrawpwd,jdbcType=VARCHAR},
      </if>
      <if test="spendcount != null">
        spendCount = #{spendcount,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="wuid != null">
        wuId = #{wuid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="ishf != null">
        isHf = #{ishf,jdbcType=VARCHAR},
      </if>
      <if test="attributes != null">
        attributes = #{attributes,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where idd = #{idd,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.achilles.wild.server.entity.info.CrmClient">
    update crm_client
    set uuid = #{uuid,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      id = #{id,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      idCardNo = #{idcardno,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      registerTime = #{registertime,jdbcType=VARCHAR},
      bindTime = #{bindtime,jdbcType=VARCHAR},
      nativePlace = #{nativeplace,jdbcType=VARCHAR},
      isReal = #{isreal,jdbcType=VARCHAR},
      attributesVersion = #{attributesversion,jdbcType=VARCHAR},
      delFlag = #{delflag,jdbcType=VARCHAR},
      isLive = #{islive,jdbcType=VARCHAR},
      spendInCount = #{spendincount,jdbcType=VARCHAR},
      channelCode = #{channelcode,jdbcType=VARCHAR},
      fromMemberId = #{frommemberid,jdbcType=VARCHAR},
      withdrawPwd = #{withdrawpwd,jdbcType=VARCHAR},
      spendCount = #{spendcount,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      wuId = #{wuid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      isHf = #{ishf,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where idd = #{idd,jdbcType=BIGINT}
  </update>
  
  <select id="selectByIdNoAndName" parameterType="com.achilles.wild.server.entity.info.CrmClient" resultMap="BaseResultMap">
		SELECT
			idd,
			idCardNo
		FROM crm_client
		WHERE 1=1
	    <if test="inviteCode != null and inviteCode!=''">
	        AND invite_code = #{inviteCode,jdbcType=VARCHAR}
	    </if>		
	    <if test="realname != null and realname!=''">
	        AND realName = #{realname,jdbcType=VARCHAR}
	    </if>	
	    <if test="idcardno != null and idcardno!=''">
	        AND idCardNo like concat('%', #{idcardno})
	    </if>		    	
	</select>
	
	<select id="selectList" resultMap="BaseResultMap">
		SELECT
			idd,
			id,
			realName,
			mobile,
			idCardNo,
			birthday,
			age,
			sex,
			email,
			nativePlace
		FROM
			CRM_CLIENT
	</select>
</mapper>