<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achilles.wild.server.dao.info.LcsMemberDao">
  <resultMap id="BaseResultMap" type="com.achilles.wild.server.entity.info.LcsMember">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="header_img" jdbcType="VARCHAR" property="headerImg" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="isAuth" jdbcType="CHAR" property="isauth" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="idcard_no" jdbcType="VARCHAR" property="idcardNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="money_pwd" jdbcType="VARCHAR" property="moneyPwd" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="industry" jdbcType="CHAR" property="industry" />
    <result column="ageScope" jdbcType="CHAR" property="agescope" />
    <result column="cityName" jdbcType="VARCHAR" property="cityname" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="login_times" jdbcType="INTEGER" property="loginTimes" />
    <result column="usercenter_uuid" jdbcType="VARCHAR" property="usercenterUuid" />
    <result column="terminal" jdbcType="VARCHAR" property="terminal" />
    <result column="invite_partner_num" jdbcType="INTEGER" property="invitePartnerNum" />
    <result column="belong_to_partner" jdbcType="BIGINT" property="belongToPartner" />
    <result column="partner_date" jdbcType="TIMESTAMP" property="partnerDate" />
    <result column="belong_to_lcs" jdbcType="BIGINT" property="belongToLcs" />
    <result column="lcs_date" jdbcType="TIMESTAMP" property="lcsDate" />
    <result column="is_lcs" jdbcType="INTEGER" property="isLcs" />
    <result column="quaState" jdbcType="CHAR" property="quastate" />
    <result column="quaImgUrl" jdbcType="VARCHAR" property="quaimgurl" />
    <result column="imgType" jdbcType="CHAR" property="imgtype" />
    <result column="is_new" jdbcType="INTEGER" property="isNew" />
    <result column="is_admin" jdbcType="INTEGER" property="isAdmin" />
    <result column="customer_num" jdbcType="INTEGER" property="customerNum" />
    <result column="total_sale_amount" jdbcType="DECIMAL" property="totalSaleAmount" />
    <result column="is_crm" jdbcType="CHAR" property="isCrm" />
    <result column="newbie_close_time" jdbcType="TIMESTAMP" property="newbieCloseTime" />
    <result column="is_9jia_member" jdbcType="INTEGER" property="is9jiaMember" />
    <result column="fuyou_status" jdbcType="CHAR" property="fuyouStatus" />
    <result column="register_crm_date" jdbcType="TIMESTAMP" property="registerCrmDate" />
    <result column="is_j9_customer" jdbcType="INTEGER" property="isJ9Customer" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_modify_money_pwd" jdbcType="SMALLINT" property="isModifyMoneyPwd" />
    <result column="visit_status" jdbcType="SMALLINT" property="visitStatus" />
    <result column="ass_level" jdbcType="DECIMAL" property="assLevel" />
    <result column="data_origin" jdbcType="VARCHAR" property="dataOrigin" />
    <result column="manage_id" jdbcType="BIGINT" property="manageId" />
    <result column="manage_date" jdbcType="TIMESTAMP" property="manageDate" />
    <result column="op_dimission_time" jdbcType="TIMESTAMP" property="opDimissionTime" />
    <result column="bind_switch" jdbcType="CHAR" property="bindSwitch" />
    <result column="belong_region" jdbcType="VARCHAR" property="belongRegion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_uuid, mobile, sex, nick_name, header_img, password, isAuth, real_name, idcard_no, 
    email, money_pwd, invite_code, industry, ageScope, cityName, company, create_date, 
    update_date, del_flag, login_times, usercenter_uuid, terminal, invite_partner_num, 
    belong_to_partner, partner_date, belong_to_lcs, lcs_date, is_lcs, quaState, quaImgUrl, 
    imgType, is_new, is_admin, customer_num, total_sale_amount, is_crm, newbie_close_time, 
    is_9jia_member, fuyou_status, register_crm_date, is_j9_customer, remark, is_modify_money_pwd, 
    visit_status, ass_level, data_origin, manage_id, manage_date, op_dimission_time, 
    bind_switch, belong_region
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lcs_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lcs_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.achilles.wild.server.entity.info.LcsMember">
    insert into lcs_member (id, user_uuid, mobile, 
      sex, nick_name, header_img, 
      password, isAuth, real_name, 
      idcard_no, email, money_pwd, 
      invite_code, industry, ageScope, 
      cityName, company, create_date, 
      update_date, del_flag, login_times, 
      usercenter_uuid, terminal, invite_partner_num, 
      belong_to_partner, partner_date, belong_to_lcs, 
      lcs_date, is_lcs, quaState, 
      quaImgUrl, imgType, is_new, 
      is_admin, customer_num, total_sale_amount, 
      is_crm, newbie_close_time, is_9jia_member, 
      fuyou_status, register_crm_date, is_j9_customer, 
      remark, is_modify_money_pwd, visit_status, 
      ass_level, data_origin, manage_id, 
      manage_date, op_dimission_time, bind_switch, 
      belong_region)
    values (#{id,jdbcType=BIGINT}, #{userUuid,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{headerImg,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{isauth,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR}, 
      #{idcardNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{moneyPwd,jdbcType=VARCHAR}, 
      #{inviteCode,jdbcType=VARCHAR}, #{industry,jdbcType=CHAR}, #{agescope,jdbcType=CHAR}, 
      #{cityname,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, #{loginTimes,jdbcType=INTEGER}, 
      #{usercenterUuid,jdbcType=VARCHAR}, #{terminal,jdbcType=VARCHAR}, #{invitePartnerNum,jdbcType=INTEGER}, 
      #{belongToPartner,jdbcType=BIGINT}, #{partnerDate,jdbcType=TIMESTAMP}, #{belongToLcs,jdbcType=BIGINT}, 
      #{lcsDate,jdbcType=TIMESTAMP}, #{isLcs,jdbcType=INTEGER}, #{quastate,jdbcType=CHAR}, 
      #{quaimgurl,jdbcType=VARCHAR}, #{imgtype,jdbcType=CHAR}, #{isNew,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=INTEGER}, #{customerNum,jdbcType=INTEGER}, #{totalSaleAmount,jdbcType=DECIMAL}, 
      #{isCrm,jdbcType=CHAR}, #{newbieCloseTime,jdbcType=TIMESTAMP}, #{is9jiaMember,jdbcType=INTEGER}, 
      #{fuyouStatus,jdbcType=CHAR}, #{registerCrmDate,jdbcType=TIMESTAMP}, #{isJ9Customer,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{isModifyMoneyPwd,jdbcType=SMALLINT}, #{visitStatus,jdbcType=SMALLINT}, 
      #{assLevel,jdbcType=DECIMAL}, #{dataOrigin,jdbcType=VARCHAR}, #{manageId,jdbcType=BIGINT}, 
      #{manageDate,jdbcType=TIMESTAMP}, #{opDimissionTime,jdbcType=TIMESTAMP}, #{bindSwitch,jdbcType=CHAR}, 
      #{belongRegion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.achilles.wild.server.entity.info.LcsMember">
    insert into lcs_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userUuid != null">
        user_uuid,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headerImg != null">
        header_img,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="isauth != null">
        isAuth,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="idcardNo != null">
        idcard_no,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="moneyPwd != null">
        money_pwd,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="agescope != null">
        ageScope,
      </if>
      <if test="cityname != null">
        cityName,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="loginTimes != null">
        login_times,
      </if>
      <if test="usercenterUuid != null">
        usercenter_uuid,
      </if>
      <if test="terminal != null">
        terminal,
      </if>
      <if test="invitePartnerNum != null">
        invite_partner_num,
      </if>
      <if test="belongToPartner != null">
        belong_to_partner,
      </if>
      <if test="partnerDate != null">
        partner_date,
      </if>
      <if test="belongToLcs != null">
        belong_to_lcs,
      </if>
      <if test="lcsDate != null">
        lcs_date,
      </if>
      <if test="isLcs != null">
        is_lcs,
      </if>
      <if test="quastate != null">
        quaState,
      </if>
      <if test="quaimgurl != null">
        quaImgUrl,
      </if>
      <if test="imgtype != null">
        imgType,
      </if>
      <if test="isNew != null">
        is_new,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="customerNum != null">
        customer_num,
      </if>
      <if test="totalSaleAmount != null">
        total_sale_amount,
      </if>
      <if test="isCrm != null">
        is_crm,
      </if>
      <if test="newbieCloseTime != null">
        newbie_close_time,
      </if>
      <if test="is9jiaMember != null">
        is_9jia_member,
      </if>
      <if test="fuyouStatus != null">
        fuyou_status,
      </if>
      <if test="registerCrmDate != null">
        register_crm_date,
      </if>
      <if test="isJ9Customer != null">
        is_j9_customer,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isModifyMoneyPwd != null">
        is_modify_money_pwd,
      </if>
      <if test="visitStatus != null">
        visit_status,
      </if>
      <if test="assLevel != null">
        ass_level,
      </if>
      <if test="dataOrigin != null">
        data_origin,
      </if>
      <if test="manageId != null">
        manage_id,
      </if>
      <if test="manageDate != null">
        manage_date,
      </if>
      <if test="opDimissionTime != null">
        op_dimission_time,
      </if>
      <if test="bindSwitch != null">
        bind_switch,
      </if>
      <if test="belongRegion != null">
        belong_region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userUuid != null">
        #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headerImg != null">
        #{headerImg,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isauth != null">
        #{isauth,jdbcType=CHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="moneyPwd != null">
        #{moneyPwd,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=CHAR},
      </if>
      <if test="agescope != null">
        #{agescope,jdbcType=CHAR},
      </if>
      <if test="cityname != null">
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="loginTimes != null">
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="usercenterUuid != null">
        #{usercenterUuid,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="invitePartnerNum != null">
        #{invitePartnerNum,jdbcType=INTEGER},
      </if>
      <if test="belongToPartner != null">
        #{belongToPartner,jdbcType=BIGINT},
      </if>
      <if test="partnerDate != null">
        #{partnerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="belongToLcs != null">
        #{belongToLcs,jdbcType=BIGINT},
      </if>
      <if test="lcsDate != null">
        #{lcsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isLcs != null">
        #{isLcs,jdbcType=INTEGER},
      </if>
      <if test="quastate != null">
        #{quastate,jdbcType=CHAR},
      </if>
      <if test="quaimgurl != null">
        #{quaimgurl,jdbcType=VARCHAR},
      </if>
      <if test="imgtype != null">
        #{imgtype,jdbcType=CHAR},
      </if>
      <if test="isNew != null">
        #{isNew,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="customerNum != null">
        #{customerNum,jdbcType=INTEGER},
      </if>
      <if test="totalSaleAmount != null">
        #{totalSaleAmount,jdbcType=DECIMAL},
      </if>
      <if test="isCrm != null">
        #{isCrm,jdbcType=CHAR},
      </if>
      <if test="newbieCloseTime != null">
        #{newbieCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="is9jiaMember != null">
        #{is9jiaMember,jdbcType=INTEGER},
      </if>
      <if test="fuyouStatus != null">
        #{fuyouStatus,jdbcType=CHAR},
      </if>
      <if test="registerCrmDate != null">
        #{registerCrmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isJ9Customer != null">
        #{isJ9Customer,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isModifyMoneyPwd != null">
        #{isModifyMoneyPwd,jdbcType=SMALLINT},
      </if>
      <if test="visitStatus != null">
        #{visitStatus,jdbcType=SMALLINT},
      </if>
      <if test="assLevel != null">
        #{assLevel,jdbcType=DECIMAL},
      </if>
      <if test="dataOrigin != null">
        #{dataOrigin,jdbcType=VARCHAR},
      </if>
      <if test="manageId != null">
        #{manageId,jdbcType=BIGINT},
      </if>
      <if test="manageDate != null">
        #{manageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="opDimissionTime != null">
        #{opDimissionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindSwitch != null">
        #{bindSwitch,jdbcType=CHAR},
      </if>
      <if test="belongRegion != null">
        #{belongRegion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.achilles.wild.server.entity.info.LcsMember">
    update lcs_member
    <set>
      <if test="userUuid != null">
        user_uuid = #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headerImg != null">
        header_img = #{headerImg,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isauth != null">
        isAuth = #{isauth,jdbcType=CHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        idcard_no = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="moneyPwd != null">
        money_pwd = #{moneyPwd,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=CHAR},
      </if>
      <if test="agescope != null">
        ageScope = #{agescope,jdbcType=CHAR},
      </if>
      <if test="cityname != null">
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="loginTimes != null">
        login_times = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="usercenterUuid != null">
        usercenter_uuid = #{usercenterUuid,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="invitePartnerNum != null">
        invite_partner_num = #{invitePartnerNum,jdbcType=INTEGER},
      </if>
      <if test="belongToPartner != null">
        belong_to_partner = #{belongToPartner,jdbcType=BIGINT},
      </if>
      <if test="partnerDate != null">
        partner_date = #{partnerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="belongToLcs != null">
        belong_to_lcs = #{belongToLcs,jdbcType=BIGINT},
      </if>
      <if test="lcsDate != null">
        lcs_date = #{lcsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isLcs != null">
        is_lcs = #{isLcs,jdbcType=INTEGER},
      </if>
      <if test="quastate != null">
        quaState = #{quastate,jdbcType=CHAR},
      </if>
      <if test="quaimgurl != null">
        quaImgUrl = #{quaimgurl,jdbcType=VARCHAR},
      </if>
      <if test="imgtype != null">
        imgType = #{imgtype,jdbcType=CHAR},
      </if>
      <if test="isNew != null">
        is_new = #{isNew,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="customerNum != null">
        customer_num = #{customerNum,jdbcType=INTEGER},
      </if>
      <if test="totalSaleAmount != null">
        total_sale_amount = #{totalSaleAmount,jdbcType=DECIMAL},
      </if>
      <if test="isCrm != null">
        is_crm = #{isCrm,jdbcType=CHAR},
      </if>
      <if test="newbieCloseTime != null">
        newbie_close_time = #{newbieCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="is9jiaMember != null">
        is_9jia_member = #{is9jiaMember,jdbcType=INTEGER},
      </if>
      <if test="fuyouStatus != null">
        fuyou_status = #{fuyouStatus,jdbcType=CHAR},
      </if>
      <if test="registerCrmDate != null">
        register_crm_date = #{registerCrmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isJ9Customer != null">
        is_j9_customer = #{isJ9Customer,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isModifyMoneyPwd != null">
        is_modify_money_pwd = #{isModifyMoneyPwd,jdbcType=SMALLINT},
      </if>
      <if test="visitStatus != null">
        visit_status = #{visitStatus,jdbcType=SMALLINT},
      </if>
      <if test="assLevel != null">
        ass_level = #{assLevel,jdbcType=DECIMAL},
      </if>
      <if test="dataOrigin != null">
        data_origin = #{dataOrigin,jdbcType=VARCHAR},
      </if>
      <if test="manageId != null">
        manage_id = #{manageId,jdbcType=BIGINT},
      </if>
      <if test="manageDate != null">
        manage_date = #{manageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="opDimissionTime != null">
        op_dimission_time = #{opDimissionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindSwitch != null">
        bind_switch = #{bindSwitch,jdbcType=CHAR},
      </if>
      <if test="belongRegion != null">
        belong_region = #{belongRegion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.achilles.wild.server.entity.info.LcsMember">
    update lcs_member
    set user_uuid = #{userUuid,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      header_img = #{headerImg,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      isAuth = #{isauth,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      idcard_no = #{idcardNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      money_pwd = #{moneyPwd,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=CHAR},
      ageScope = #{agescope,jdbcType=CHAR},
      cityName = #{cityname,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      login_times = #{loginTimes,jdbcType=INTEGER},
      usercenter_uuid = #{usercenterUuid,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      invite_partner_num = #{invitePartnerNum,jdbcType=INTEGER},
      belong_to_partner = #{belongToPartner,jdbcType=BIGINT},
      partner_date = #{partnerDate,jdbcType=TIMESTAMP},
      belong_to_lcs = #{belongToLcs,jdbcType=BIGINT},
      lcs_date = #{lcsDate,jdbcType=TIMESTAMP},
      is_lcs = #{isLcs,jdbcType=INTEGER},
      quaState = #{quastate,jdbcType=CHAR},
      quaImgUrl = #{quaimgurl,jdbcType=VARCHAR},
      imgType = #{imgtype,jdbcType=CHAR},
      is_new = #{isNew,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      customer_num = #{customerNum,jdbcType=INTEGER},
      total_sale_amount = #{totalSaleAmount,jdbcType=DECIMAL},
      is_crm = #{isCrm,jdbcType=CHAR},
      newbie_close_time = #{newbieCloseTime,jdbcType=TIMESTAMP},
      is_9jia_member = #{is9jiaMember,jdbcType=INTEGER},
      fuyou_status = #{fuyouStatus,jdbcType=CHAR},
      register_crm_date = #{registerCrmDate,jdbcType=TIMESTAMP},
      is_j9_customer = #{isJ9Customer,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      is_modify_money_pwd = #{isModifyMoneyPwd,jdbcType=SMALLINT},
      visit_status = #{visitStatus,jdbcType=SMALLINT},
      ass_level = #{assLevel,jdbcType=DECIMAL},
      data_origin = #{dataOrigin,jdbcType=VARCHAR},
      manage_id = #{manageId,jdbcType=BIGINT},
      manage_date = #{manageDate,jdbcType=TIMESTAMP},
      op_dimission_time = #{opDimissionTime,jdbcType=TIMESTAMP},
      bind_switch = #{bindSwitch,jdbcType=CHAR},
      belong_region = #{belongRegion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  	<select id="selectList" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM lcs_member
	</select>
</mapper>