<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achilles.wild.server.business.dao.LogControllerDao">
  <resultMap id="BaseResultMap" type="com.achilles.wild.server.entity.LogController">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="clz" jdbcType="VARCHAR" property="clz" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="traceId" jdbcType="VARCHAR" property="trace_id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <insert id="insertSelective" parameterType="com.achilles.wild.server.entity.LogController">
    insert into log_controller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clz != null">
          clz,
      </if>
      <if test="method != null">
          method,
      </if>
      <if test="params != null">
          params,
      </if>
      <if test="time != null">
          time,
      </if>
      <if test="traceId != null">
        trace_id,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clz != null">
        #{clz,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="traceId != null">
        #{traceId,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


</mapper>